.top {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #c0c0c0;
    h3 {
        text-align: center
    }
}
.top-con {
    height: 200px;
    border-bottom: 1px solid #c0c0c0;
}

